<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 align="center">Total Effort Exerted</h1>
        <p align="center">
            Total Effort: <span id="total_effort">0</span></br>
            Effort per Second: <span id="effort_per_second">0</span>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h1 align="center">Left Side</h1>
        <button class="click btn btn-primary">Punch</button>
    </div>
    
    <div class="col-md-5">
        <h1 align="center">Middle</h1>
    </div>
    
    <div class="col-md-3">
        <h1 align="center">Right Side</h1>
            <button class="knuckle_duster btn btn-primary">Knuckle Dusters: <span id="num_knuckle">0</span></button>
            <p class="same-line">Cost: <span id="knuckle_cost">10</span></p>
            
            <button class="baseball_bat btn btn-primary">Baseball Bats: <span id="num_baseball">0</span></button>
            <p class="same-line">Cost: <span id="baseball_cost">100</span></p>
    </div>
</div>

