@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar-default {
    background-color: #2E54A8;
}

.fa-line-chart {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}